* {
    width:100%;
    box-sizing:border-box;
}

/*.container {*/
/*    height: 100%;*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    align-content: center;*/
/*}*/

.alert-info {
    width: calc(100% - 18px);
    padding: 20px;
    background-color: #cdffff;
    border: 1px solid darkgray;
    text-align: center;
    margin: 8px;
}

.alert-info>a{
    color: black;
}


img {
    width:339px;
    height:224px;
}

.header-img{
    display:flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

h1{
    text-align: center;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 30px;
}

li {
    width: calc(100% - 18px);
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    margin: 10px 10px 8px 8px;
    list-style-type: none;
}

ul{
    padding:0px;
}

.main{
    margin: 15px 8px 25px 8px;
}

.sub-section{
    margin: 15px 8px 25px 8px;
}