* {
    /*width:100%;*/
    box-sizing:border-box;
}

/*.container {*/
/*    height: 100%;*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    align-content: center;*/
/*}*/
body {
    font-family: 'Krona One', sans-serif;
}

.alert-info {
    width: calc(100% - 18px);
    padding: 20px;
    background-color: #cdffff;
    border: 1px solid darkgray;
    text-align: center;
    margin: 8px;
}

.alert-info>a{
    color: black;
}


img {
    /*width:339px;*/
    /*height:224px;*/
    width: calc(100% - 18px);
    margin: 8px;
}

.header-img{
    display:flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

li a {
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 30px;
}

li {
    width: calc(100% - 18px);
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    margin: 10px 10px 8px 8px;
    list-style-type: none;
}

ul{
    padding:0px;
}
h2 {
    margin-bottom: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 60px;
}
.main{
    margin: 15px 8px 25px 8px;
}

.sub-section{
    margin: 15px 8px 25px 8px;
}

.sub-section>h2 {
    font-size: 20px;
    font-style: italic;

}

footer {
    margin-top: 100px;
}

@media screen and (min-width:768px) {
    .alert-info{
        visibility: hidden;
    }
    h1{
        display: inline-block;
        /*float: left;*/
        text-align: left;
    }
    nav{
        display:inline-flex;
        justify-content: flex-end;
        /*right: 0;*/
    }
    ul, li{
        /*position: relative;*/
        width: 100%;
        display:inline-flex;
        /*float: right;*/
    }
}